provider_installation {
   network_mirror {
      url = "https://terraform.cloud.ru/"
      include = ["registry.terraform.io/*/*"]
   }
   direct {
      exclude = ["registry.terraform.io/*/*"]
   }
}